@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Rubik+80s+Fade&family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    width: 100%;
    height: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/  
    background-image: url("./wallpapersden.com_cool-4k-pattern_3840x2160.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}

.h-1 {
    width: 100%;
}

.titi ,h1 {
    width: 100%;
    display: flex;
    padding: 50px;
    height: 200px;
    font-size: 3.3rem;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

@-webkit-keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0;
        text-shadow: none
    }

    10.1% {
        opacity: 1;
        text-shadow: none
    }

    10.2% {
        opacity: 0;
        text-shadow: none
    }

    20% {
        opacity: 0;
        text-shadow: none
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(26, 1, 250, 0.863)
    }

    20.6% {
        opacity: 0;
        text-shadow: none
    }

    30% {
        opacity: 0;
        text-shadow: none
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    30.6% {
        opacity: 0;
        text-shadow: none
    }

    45% {
        opacity: 0;
        text-shadow: none
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    55.1% {
        opacity: 0;
        text-shadow: none
    }

    57% {
        opacity: 0;
        text-shadow: none
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }

    60.1% {
        opacity: 0;
        text-shadow: none
    }

    65% {
        opacity: 0;
        text-shadow: none
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }

    75.1% {
        opacity: 0;
        text-shadow: none
    }

    77% {
        opacity: 0;
        text-shadow: none
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }

    85.1% {
        opacity: 0;
        text-shadow: none
    }

    86% {
        opacity: 0;
        text-shadow: none
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255,255,255,.6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0;
        text-shadow: none
    }

    10.1% {
        opacity: 1;
        text-shadow: none
    }

    10.2% {
        opacity: 0;
        text-shadow: none
    }

    20% {
        opacity: 0;
        text-shadow: none
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .25)
    }

    20.6% {
        opacity: 0;
        text-shadow: none
    }

    30% {
        opacity: 0;
        text-shadow: none
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    30.6% {
        opacity: 0;
        text-shadow: none
    }

    45% {
        opacity: 0;
        text-shadow: none
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    55.1% {
        opacity: 0;
        text-shadow: none
    }

    57% {
        opacity: 0;
        text-shadow: none
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }

    60.1% {
        opacity: 0;
        text-shadow: none
    }

    65% {
        opacity: 0;
        text-shadow: none
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }

    75.1% {
        opacity: 0;
        text-shadow: none
    }

    77% {
        opacity: 0;
        text-shadow: none
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }

    85.1% {
        opacity: 0;
        text-shadow: none
    }

    86% {
        opacity: 0;
        text-shadow: none
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }
}

 /*.mid {
   font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
}*/



.mid::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.mid:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mid::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: transform .5s ease;
    
}

.mid {
    border-top: solid #000 7px;
    border-bottom: solid black 7px;
        
    
    font-family: 'Orbitron', sans-serif;
    position: relative;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    color: #fff;
}





.yo {
    width: 100%;
    height: 350px;
    display: grid;
    justify-content: start;
    grid-template-columns: 500px  ;
    grid-template-rows: 325px  ;
    column-gap: 250px;
    padding: 100px;
    
}

.yo-2 {
    width: 100%;
    height: 350;
    display: grid;
    justify-content: end;
    grid-template-columns: 500px;
    grid-template-rows: 260;
    padding: 100px;
    
    
}

.yo-1 {
    background-color: #FF8DC7;
    padding: 50px ;
    border: 7px solid #FFACC7;
    border-radius: 10px;
    
}

.dr {
    align-items: center;
    background-color: #FFB9B9;
    padding: 10px;
    border: 5px solid #FFB9B9;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}

img {
    width: 50px;
    height: 50px;
   
}

.redes {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: grid;
    justify-content: center;
    background-color: transparent;

    font-family: 'Kanit', sans-serif;
        
}

.gh {
    text-decoration: none;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rd-5 {
    display: flex;
    padding: 20px;
    background-color:  #65647C;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 20px;
    justify-content: center;
    align-items: center;
} 

.rd-5:hover {
    background-color: #434242;
    transition: .5s ease;
    border-bottom: 7px solid #50577A;
}




.rd {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rd-4 {
    display: flex;
    padding: 20px;
    background-color: #FFF6BD;
    width: 200px;
    height:100px ;
    border-radius:15px ;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.ig {
    text-decoration:none ;
    color: #C58940;  
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    

}
.rd-4:hover {
    background-color: #FFDB89;
    transition: .5s ease ;
    border-bottom: 7px solid #D0B8A8;
}



.rd-3 {
    display: flex;
    padding: 20px;
    background-color: #A555EC;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.tw {
    text-decoration: none;
    color: #000000;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.rd-3:hover {
    background-color: #4B56D2;
    transition: .5s ease;
    border-bottom: 7px solid #472183;
}


.rd-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:  #FD8A8A;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 20px;
}

.yt {
    text-decoration: none;
    color: #FFFAE7;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rd-2:hover {
    background-color: #E64848;
    transition: .5s ease;
    border-bottom: 7px solid #A8D1D1;
}

.rd-0 {
    margin: 10px;
}



.games {
    display: grid;
    grid-template-columns: 550px 700px;
    grid-template-rows: 200px 200px;
    column-gap: 50px;

    width: 100%;
    height: 400px;
    /*background-color: #FFF6BD;*/
}

.games-1 {
    margin-left: 80px;
    color: #91D8E4 ;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    /*font-family: 'Orbitron', sans-serif;*/
}

.games-2 {
    color: #BFEAF5;
    font-family: 'Orbitron', sans-serif;
    font-size: 8rem;
    display: flex;
    justify-content: end;
    /*border-bottom:10px solid #FFE5F1;
    border-top:10px solid#FFE5F1;*/
   
}

.games-3 {
    transition: .5s ease;
    border-bottom:10px solid #FFE5F1;
    border-top:10px solid#FFE5F1;
}






.borde {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;

    padding: 30px;
    margin: 30px;
    height: 250px;
        border: 5px solid #FA7070;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
}


.form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    margin: 12px;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    
}

.form input {
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 20px;
    border: none;
    outline: 0px;
    margin: 5px;
    padding: 5px;
    
}

.form .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;

}



.form .lbl-nombre:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #FF8FB1;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #FF8FB1;
}

.form input:focus+.lbl-nombre .text-nomb,
.form input:valid+.lbl-nombre .text-nomb {
    transform: translateY(-150%);
    font-size: 14px;
    color: #FF8DC7;
}

.form input:focus+.lbl-nombre:after,
.form input:valid+.lbl-nombre:after {
    transform: translateX(0%);
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .form {
        width: 85%;
    }
}

.sometxt{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.mydiv{
    position: relative;
    margin: 10% auto 0;
    width: 70%;
    height: 500px;
    background: linear-gradient(90deg, #000, #323232);
}

.animate-bg:before,
.animate-bg:after {
    content: '';
    position: absolute;
    left: -8px;
    top: -8px;
    background: linear-gradient(120deg, #432C7A, #80489C, #FFB9B9, #FF8FB1,
            #FCE2DB, #FFDDD2, #FFACC7, #FF8DC7, #BCE29E, #E5EBB2);
    background-size: 300%;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    z-index: -1;
    animation: BGgradient 15s ease infinite;
}    

@keyframes BGgradient {
    0% {
        background-position: 0% 200%;
    }

    50% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 330%;
    }
}

.animate-bg:after {
    filter: brightness(1.4);
    filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
    filter: blur(15px);
}

.container {
    padding: 10px;
}

.container span {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin: 3px;
    font-family: 'Unbounded', cursive;
    

}

.container span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
    
}

.container span::after {
    content: var(--l);
    position: absolute;
    height: 200%;
    width: 300px;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
  
}

.container span:hover {
    filter: contrast(250%);
}

.container span:nth-child(1) {
    color: #FF8DC7;
}

.container span:nth-child(2) {
    color: #FF8DC7;
}

.container span:nth-child(3) {
    color: #FF8DC7;
}

.container span:nth-child(4) {
    color: #FF8DC7;
}

.container span:nth-child(5) {
    color: #FF8DC7;
}


.container span:nth-child(6) {
    color: #FF8DC7;
}

.container span:nth-child(7) {
    color: #FF8DC7;
}

.container span:nth-child(8) {
    color: #FF8DC7;
}

.container span:nth-child(9) {
    color: #FF8DC7;
}

.container span:nth-child(10) {
    color: #FF8DC7;
}


.botones {
    display: grid;
        justify-content: center;
        
        grid-template-columns: 300px 300px;
    /*top: 50%;*/
    transform: translate(-50%, -50);
    
    
}

.btn {
    color: white;
    margin: 20px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: .3s ease;
    font-family: 'Orbitron', sans-serif;
}

.aceptar {
    background-color: #BCE29E;
    
}

.cancelar {
    background-color: #FA7070;
    
}

.cancelar:hover {
    color: #fff;
    box-shadow: 0 0 20px #FA7070,
                0 0 50px #FA7070,
                0 0 85px #FA7070,
                0 0 125px #FA7070    ;
}

.aceptar:hover {
    color: #fff;
    box-shadow: 0 0 20px #BCE29E,
                0 0 50px #BCE29E,
                0 0 85px #BCE29E,
                0 0 125px #BCE29E;
}