@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Rubik+80s+Fade&family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    width: 100%;
    height: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/  
    background-image: url("./wallpapersden.com_cool-4k-pattern_3840x2160.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}

.h-1 {
    display: flex;
    justify-items: center;
    justify-content: center;    
    width: 100%;
    font-size: 6rem;
    
}

.titi ,h1 {
    
    width: 100%;
    display: flex;
    padding: 50px;
    height: 200px;
    font-size: 3.3rem;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

@-webkit-keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0;
        text-shadow: none
    }

    10.1% {
        opacity: 1;
        text-shadow: none
    }

    10.2% {
        opacity: 0;
        text-shadow: none
    }

    20% {
        opacity: 0;
        text-shadow: none
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(26, 1, 250, 0.863)
    }

    20.6% {
        opacity: 0;
        text-shadow: none
    }

    30% {
        opacity: 0;
        text-shadow: none
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    30.6% {
        opacity: 0;
        text-shadow: none
    }

    45% {
        opacity: 0;
        text-shadow: none
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    55.1% {
        opacity: 0;
        text-shadow: none
    }

    57% {
        opacity: 0;
        text-shadow: none
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }

    60.1% {
        opacity: 0;
        text-shadow: none
    }

    65% {
        opacity: 0;
        text-shadow: none
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }

    75.1% {
        opacity: 0;
        text-shadow: none
    }

    77% {
        opacity: 0;
        text-shadow: none
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }

    85.1% {
        opacity: 0;
        text-shadow: none
    }

    86% {
        opacity: 0;
        text-shadow: none
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255,255,255,.6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0;
        text-shadow: none
    }

    10.1% {
        opacity: 1;
        text-shadow: none
    }

    10.2% {
        opacity: 0;
        text-shadow: none
    }

    20% {
        opacity: 0;
        text-shadow: none
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .25)
    }

    20.6% {
        opacity: 0;
        text-shadow: none
    }

    30% {
        opacity: 0;
        text-shadow: none
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    30.6% {
        opacity: 0;
        text-shadow: none
    }

    45% {
        opacity: 0;
        text-shadow: none
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .45), 0 0 60px rgba(255, 255, 255, .25)
    }

    55.1% {
        opacity: 0;
        text-shadow: none
    }

    57% {
        opacity: 0;
        text-shadow: none
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35)
    }

    60.1% {
        opacity: 0;
        text-shadow: none
    }

    65% {
        opacity: 0;
        text-shadow: none
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .35), 0 0 100px rgba(255, 255, 255, .1)
    }

    75.1% {
        opacity: 0;
        text-shadow: none
    }

    77% {
        opacity: 0;
        text-shadow: none
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .55), 0 0 60px rgba(255, 255, 255, .4), 0 0 110px rgba(255, 255, 255, .2), 0 0 100px rgba(255, 255, 255, .1)
    }

    85.1% {
        opacity: 0;
        text-shadow: none
    }

    86% {
        opacity: 0;
        text-shadow: none
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, .6), 0 0 60px rgba(255, 255, 255, .45), 0 0 110px rgba(255, 255, 255, .25), 0 0 100px rgba(255, 255, 255, .1)
    }
}

 /*.mid {
   font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
}*/





.container-2 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    height: 50px;
    background-color: #000;
    overflow: hidden;
}

.container-2 .text {
    position: relative;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

.container-2 .text.first-text {
    color: #FFF;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid #fff;
    animation: animate 2s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}



.yo {
    width: 100%;
    height: 350px;
    display: grid;
    justify-content: start;
    grid-template-columns: 500px  ;
    grid-template-rows: 325px  ;
    column-gap: 250px;
    padding: 100px;
    
}

.yo-2 {
    width: 100%;
    height: 350;
    display: grid;
    justify-content: end;
    grid-template-columns: 500px;
    grid-template-rows: 260;
    padding: 100px;
       
}

.yo-1 {
    background-color: #404258;
    padding: 50px ;
    border: 7px solid #474E68;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px rgba(92, 80, 80, 0.671);
    
}

.dr {
    align-items: center;
    background-color: #50577A;
    padding: 10px;
    border: 5px solid #50577A;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    color: #fff;
}

img {
    width: 50px;
    height: 50px;
   
}

.redes {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: grid;
    justify-content: center;
    background-color: transparent;

    font-family: 'Kanit', sans-serif;
        
}

.gh {
    text-decoration: none;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rd-5 {
    display: flex;
    padding: 20px;
    background-color:  #65647C;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 20px;
    justify-content: center;
    align-items: center;
} 

.rd-5:hover {
    background-color: #434242;
    transition: .5s ease;
    border-bottom: 7px solid #50577A;
    box-shadow: 0 0 20px #434242,
            0 0 50px #434242,
            0 0 85px #434242,
            0 0 125px #434242;

}




.rd {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rd-4 {
    display: flex;
    padding: 20px;
    background-color: #FFF6BD;
    width: 200px;
    height:100px ;
    border-radius:15px ;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.ig {
    text-decoration:none ;
    color: #C58940;  
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    

}
.rd-4:hover {
    background-color: #FFDB89;
    transition: .5s ease ;
    border-bottom: 7px solid #D0B8A8;
    box-shadow: 0 0 20px #FFDB89,
            0 0 50px #FFDB89,
            0 0 85px #FFDB89,
            0 0 125px #FFDB89;
}



.rd-3 {
    display: flex;
    padding: 20px;
    background-color: #A555EC;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.tw {
    text-decoration: none;
    color: #000000;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.rd-3:hover {
    background-color: #4B56D2;
    transition: .5s ease;
    border-bottom: 7px solid #472183;
    box-shadow: 0 0 20px #4B56D2,
            0 0 50px #4B56D2,
            0 0 85px #4B56D2,
            0 0 125px #4B56D2;
    
}


.rd-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:  #FD8A8A;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 20px;
}

.yt {
    text-decoration: none;
    color: #FFFAE7;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rd-2:hover {
    background-color: #E64848;
    transition: .5s ease;
    border-bottom: 7px solid #A8D1D1;
        box-shadow: 0 0 20px #E64848,
            0 0 50px #E64848,
            0 0 85px #E64848,
            0 0 125px #E64848;
}

.rd-0 {
    margin: 10px;
}



.games {
    display: grid;
    grid-template-columns: 550px 700px;
    grid-template-rows: 200px 200px;
    column-gap: 50px;

    width: 100%;
    height: 400px;
    /*background-color: #FFF6BD;*/
}

.games-1 {
    margin-left: 80px;
    color: #91D8E4 ;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    /*font-family: 'Orbitron', sans-serif;*/
}

.games-2 {
    color: #BFEAF5;
    font-family: 'Orbitron', sans-serif;
    font-size: 8rem;
    display: flex;
    justify-content: end;
    /*border-bottom:10px solid #FFE5F1;
    border-top:10px solid#FFE5F1;*/
   
}

.games-3 {
    transition: .5s ease;
    border-bottom:10px solid #FFE5F1;
    border-top:10px solid#FFE5F1;
    /*box-shadow: 0 0 15px 2px rgba(231, 221, 221, 0.671);*/
}





.games-4 {
    display: grid;
    grid-template-columns: 700px 400px;
    grid-template-rows: 200px 200px;
    column-gap: 50px;

    width: 100%;
    height: 400px;
    /*background-color: #FFF6BD;*/
}

.games-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    color: #91D8E4;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    /*font-family: 'Orbitron', sans-serif;*/
}

.games-7 {
    color: #BFEAF5;
    font-family: 'Orbitron', sans-serif;
    font-size: 7rem;
    display: flex;
    justify-content: start;
    /*border-bottom:10px solid #FFE5F1;
    border-top:10px solid#FFE5F1;*/

}

.games-6 {
    transition: .5s ease;
    border-bottom: 10px solid #FFE5F1;
    border-top: 10px solid#FFE5F1;
    /*box-shadow: 0 0 15px 2px rgba(231, 221, 221, 0.671);*/
}


.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/back.jpg);
    background-position: center;
    background-size: cover;
}

.profile-card {
    background: linear-gradient( 45deg, #222222, #434242, #3C4048);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    border: 1px solid #ffffff40;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
}

.image .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.data .max {
    font-size: 33px;
    font-weight: 600;
}

.max-2 {
    font-size: 18px;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.row .info {
    text-align: center;
    padding: 0 20px;
}

.buttons-2 {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.buttons-2 .btn-2 {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    width: 65px;
    height: 65px;
    margin: 20px;
    border-radius: 25px;
    white-space: nowrap;
    background: #6B728E;
}

.buttons-2 .btn-2:hover {
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
}



.rd-m-2 {
    margin: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #474E68;
    border-radius: 25px;

}

.rd-m-2:hover {
    box-shadow: 0 0 20px #6B728E,
            0 0 50px #6B728E,
            0 0 85px #6B728E,
            0 0 125px #6B728E;
}


.borde {
    /*display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;*/

    padding: 30px;
    margin: 30px;
    height: 300px;
        border: 5px solid #FA7070;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
}


.form-2 {
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 80px 80px 80px;
    column-gap: 20px;
    row-gap: 10px;
    
}

.form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    margin: 12px;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    
}

.form input {
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 20px;
    border: none;
    outline: 0px;
    margin: 5px;
    padding: 5px;
    
}

.form .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;

}



.form .lbl-nombre:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #FF8FB1;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #FF8FB1;
}

.form input:focus+.lbl-nombre .text-nomb,
.form input:valid+.lbl-nombre .text-nomb, .email-2 {
    transform: translateX(0%);
    }


.form input:focus+.lbl-nombre .text-nomb,
.form input:valid+.lbl-nombre .text-nomb {
    transform: translateY(-150%);
    font-size: 14px;
    color: #FF8DC7;
}

.form input:focus+.lbl-nombre:after,
.form input:valid+.lbl-nombre:after {
    transform: translateX(0%);
}



.sometxt{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.mydiv{
    position: relative;
    margin: 10% auto 0;
    width: 70%;
    height: 500px;
    background: linear-gradient(90deg, #000, #323232);
}

.animate-bg:before,
.animate-bg:after {
    content: '';
    position: absolute;
    left: -8px;
    top: -8px;
    background: linear-gradient(120deg, #432C7A, #80489C, #FFB9B9, #FF8FB1,
            #FCE2DB, #FFDDD2, #FFACC7, #FF8DC7, #BCE29E, #E5EBB2);
    background-size: 300%;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    z-index: -1;
    animation: BGgradient 15s ease infinite;
}    

@keyframes BGgradient {
    0% {
        background-position: 0% 200%;
    }

    50% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 330%;
    }
}

.animate-bg:after {
    filter: brightness(1.4);
    filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
    filter: blur(15px);
}

.container {
    padding: 10px;
}

.container span {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin: 3px;
    font-family: 'Unbounded', cursive;
    

}

.container span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
    
}

.container span::after {
    content: var(--l);
    position: absolute;
    height: 200%;
    width: 300px;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
  
}

.container span:hover {
    filter: contrast(250%);
}

.container span:nth-child(1) {
    color: #FF8DC7;
}

.container span:nth-child(2) {
    color: #FF8DC7;
}

.container span:nth-child(3) {
    color: #FF8DC7;
}

.container span:nth-child(4) {
    color: #FF8DC7;
}

.container span:nth-child(5) {
    color: #FF8DC7;
}


.container span:nth-child(6) {
    color: #FF8DC7;
}

.container span:nth-child(7) {
    color: #FF8DC7;
}

.container span:nth-child(8) {
    color: #FF8DC7;
}

.container span:nth-child(9) {
    color: #FF8DC7;
}

.container span:nth-child(10) {
    color: #FF8DC7;
}


.botones {
  
    /*grid-template-columns: 300px 300px;*/
        /*top: 50%;*/
    transform: translate(-50%, -50);
    
    
    
}


.btn {

    margin-left: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: .3s ease;
    font-family: 'Orbitron', sans-serif;
}

.aceptar {
    background-color: #BCE29E;
    width: 250px;
    display: flex;
        justify-content: center;
    
}

.cancelar {
    display: flex;
    justify-content: center;
    background-color: #FA7070;
    width: 250px;
}

.cancelar:hover {
    color: #fff;
    box-shadow: 0 0 20px #FA7070,
                0 0 50px #FA7070,
                0 0 85px #FA7070,
                0 0 125px #FA7070    ;
}

.aceptar:hover {
    color: #fff;
    box-shadow: 0 0 20px #BCE29E,
                0 0 50px #BCE29E,
                0 0 85px #BCE29E,
                0 0 125px #BCE29E;
}


@media (max-width:380px) {

.form-2 {
        width: 150px;
        display: flex;
        flex-direction: column;

    }


    .borde {
        height: 730px;
        width: 250px;

    }

    .mydiv {
        height: 1000px;
        width: 300px;
    }

    .aceptar,
    .cancelar {
        width: 150px;
    }

    .container span {
        font-size: 18px;
    }



.yo-1 {
    width: 340px;
    height: 530px;
    
   
}




.yo,.yo-2 {
    padding: 40px;
    margin-bottom: 70px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.dr{
    height: 430px;
    
    
}


.rd {
    display: flex;
    flex-direction: column;
}

.mid{
    width: 380px;
    font-size: 2rem;
}

.h-1 {
    font-size: 3rem;
}

.games {
    margin-top: 400px;
    display: flex; 
    flex-direction: column-reverse;
}

.games-2 {
    
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.games-1{
    margin-top: 50px;
}

}
